@charset "utf-8";
@import "../node_modules/bulma/css/bulma.min.css";

.container.is-small {
    max-width: 680px !important;
}

.button.is-dummy, .button.is-dummy:hover {
    text-decoration: none;
    background-color: #fff;
    cursor: default;
}

.writerHeader {
    top: 0;
    width: 100%;
    height: 46px;
    padding: .5rem;
}

.writerHeader__logo {
    font-size: 1rem;
    font-weight: bold;
}

.writerFooter {
    border-top: 1px solid #dbdbdb;
    z-index: 100000;
    bottom: 0;
    width: 100%;
    height: 46px;
    padding: .5rem;
    font-size: .8rem;
}

.loading {
    width: 1rem;
    animation: rotation 1s infinite linear;
    display: inline-block;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
