@charset "utf-8";
@import "../node_modules/bulma/css/bulma.min.css";

.container {
    max-width: 680px !important;
}

.loading {
    width: 1rem;
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
